$colorBg :rgb(0, 38, 255);
header{
    background: $colorBg;
    height: 150px;
    margin-bottom: 10px;
    
}

main {
    background: $colorBg;
    height: 150px;
    margin-bottom: 10px;
}

footer{
    background:$colorBg;
    height: 150px;
}